# IDE
.vs/
.idea/
.vscode/

#AI agent
.workbuddy/

# Build
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled files
*.jpg
*.exe
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.so
*.a

# vcpkg
vcpkg_installed/

# Logs
logs/

# Results
results/

# OS
.DS_Store
Thumbs.db

# models
*.pt
*.onnx
*.engine